
.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.6rem; 
    z-index: 1; 
    overflow: hidden; /* Garante que a barra da janela principal não apareça */
}

/* O botão + */
.addButton {
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 2.2rem; 
    right: 4rem; 
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transform: translateY(-10%); 
    z-index: 10;
}

.addButton:hover {
    transform: translateY(-10%) scale(1.1);
}

/* A barra branca */
.searchBarContainer {
    width: 40%;
    min-width: 300px;
    height: 2.85rem; 
    background-color: white;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex-shrink: 0; 
}

.searchInput {
    border: none;
    flex: 1;
    height: 100%;
    color: #333;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    background: transparent;
    outline: none; 
}

.searchInput:focus {
    outline: none;
    box-shadow: none;
}

/* REMOVER O 'X' AZUL DO INPUT SEARCH */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none;
}
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

/* === ÁREA DOS CARDS === */
.cardArea {
    width: 100%;
    flex: 1; /* Ocupa o resto da tela */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem; 
    
    margin-top: 4rem; 
    padding: 0 2rem 4rem 2rem; 
    
    overflow-y: auto; /* Scroll ativado */
    
    /* CORREÇÃO DO CARD ESTICADO (Agressiva) */
    align-content: flex-start; 
    align-items: flex-start;
}

/* === BARRA DE ROLAGEM (WEBKIT - Chrome, Edge, Opera) === */



/* Firefox (Suporte limitado a largura) */
.cardArea {
    scrollbar-width: auto; /* ou thin */
    scrollbar-color: #444 #2c2c2c;
}