.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #2c2c2c;
}

.loginCard {
    background-color: #353535;
    padding: 2rem; 
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2);
    
    width: 90%;         
    max-width: 300px;   
}

.logo {
    width: 14rem; 
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem; 
}

.input, .button {
    width: 100%;
    padding: 0.8rem; 
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem; 
    font-family: 'Lato', sans-serif;
    transition: all 0.2s;
}

.input {
    background-color: #ffffff;
    color: #000;
    font-weight: 300;
}

.input:focus {
    outline: 2px solid #f46524;
    outline-offset: 2px;
}

.input::placeholder {
    color: rgba(95, 95, 95, 0.3);
    font-weight: 300;
    font-size: 1.1rem; 
}

.button {
    background-color: #f46524;
    color: #e1e1e1;
    cursor: pointer;
    font-weight: 700;
    margin-top: 0.5rem;
    width: 110%; 
}

.button:hover {
    background-color: #d8561a;
    transform: translateY(-2px);
}